
/********************************************************************************************************************/
/*-----------------------------------------WELCOME--------------------------------------------------------------------*/
/*--------------------------------------THIS IS DIWAS'--------------------------------------------------------------------*/
/*-------------------------------------PERSONAL WEBSITE--------------------------------------------------------------------*/
/*---------------------------------------STYLESHEET--------------------------------------------------------------------*/
/********************************************************************************************************************/


*{
	margin: 0;
	padding: 0;
	
}


/*------------------------------------LOADING ANIMATION------------------------------------------------------------*/


/********************************************************************************************************************/

.load {
		width: 100%;
		height: 100%;
		z-index: 1000;
		background: white;
		position: fixed;
		top:0px;
		left: 0px;
}

.loader {
		position: fixed;
		top: 40%;
		left: 47%;
		display: inline-block;
		background: white;
	}


.bar{
		float: left;
		background: red;
		height: 25px;
		width: 5px;
		margin: 2px;
		animation-name: loadinganimation;
		animation-duration: .72s;
		animation-iteration-count: infinite;
		border-radius: 5px;
		
	}

	@keyframes loadinganimation {
		0%,20%,80%,100% { transform: scale(1);}
		50% {transform: scaleY(1.8);}		
	}

	.first{}
	.second{animation-delay: 0.08s;}
	.third{animation-delay: 0.16s;}
	.fourth{animation-delay: 0.32s;}
	.fifth{animation-delay: 0.40s;}
	.sixth{animation-delay: 0.48s;}
	.seventh{animation-delay: 0.56s;}
	.eighth{animation-delay: 0.64s;}

@media screen and (max-width: 500px){
	.loader {
		left:40%;
	}
}
	

/********************************************************************************************************************/

/*------------------------------------LOADING ANIMATION ENDS HERE---------------------------------------------------------*/

/**************************************************************************************************************************/


#homebody{
	background: rgb(0,0,0);
	overflow: hidden;
}



/* HAMBURGER NAV ICON*/

.hamburger{
		cursor: pointer;
		display: inline-block;
		position: fixed;
		top: 20px;
		left: 20px;
		z-index: 100;
	}

	.line1, .line2, .line3{
		width: 30px;
    	height: 4px;
		background: white;
		margin-top: 3px;
		transition:transform .3s;
		box-shadow: 1px 1px 10px;
		border-radius: 10px;
	}

	.change .line1{
		transform: translate(-3px, 10px) rotate(45deg);
		

	}

	.change .line2{
		opacity: 0;

	}

	.change .line3{
		transform: translate(-3px, -4px) rotate(-45deg) ;
	}

/*END OF HAMBURGER NAV ICON*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVIGATION MENU~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.nav {
	width: 0%;
	height: 700px;
	position: fixed;
	left: 0;
	top: 0;
	transition: width .3s;
	transition-timing-function: ease-in-out;
	border-right: 5px inset rgba(200, 200, 100, 0.8);
	box-shadow: 5px 5px 100px;
	margin-left: -5px;
	background: url('navBackground.jpeg'); /*from Pexels (https://www.pexels.com/search/background/)*/
	z-index: 10;
}


	.navmenuul {
		margin-top: calc(15vw + 50px);
		display: flex;
		flex-direction: row;
		justify-content: center;
		transition: transform .3s;	
		overflow: hidden;
		transform: scale(0);
	}


	.navmenuul a{
		color:white;
		text-decoration: none;
		text-align: center;
		padding: calc(3vw + 15px);
		font-size:calc(1.5vw + 5px); 
		transition: color 1s, background 1s;
	}

	.navmenuul a:hover, .navmenumobile a:hover{
		color: rgb(240, 200, 150);
		background: rgba(0,0,0,0.5);
	}




.navmenumobile {
	display: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVIGATION MENU END~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~BACKGROUND~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#Vid{
	width: 100%;
	filter: brightness(50%);
	position: fixed;
	z-index: -100;
	top: 0;
}



#mobileBackground{
	display: none;
	filter: brightness(50%);
	position: fixed;
	z-index: -100;
	top: 0;
	width: 200%;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~BACKGROUND END~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CONTENT IN THE HOMEPAGE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.homeheading {
	text-align: center;
	font-size: calc(6vw + 8px);
	color: white;
	margin-top: 10%;
	user-select: none;
	font-family: 'Black Han Sans', sans-serif;
}

.hometext {
	text-align: center;
	font-size: calc(1.5vw + 7px);
	color: white;
	margin-left:50px;
	margin-right: 50px;
	font-family: 'ABeeZee', sans-serif;
}


.CVButton {

	margin: auto;
	margin-top: 50px;
	width: auto;
	text-align: center;
	font-size: calc(1.5vw + 5px);
}

.CVButton > a {
	color: rgb(255,250,230);
	text-decoration: none;
	background: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: calc(.7vw + 5px);
	padding-bottom: calc(.7vw + 5px);
	border-radius: 3px;
	transition: .3s;
	font-family: Sans-Serif;
	font-weight: bold;
	border: 3px solid rgb(245, 160, 0);
}

.CVButton > a:hover {
	background: rgb(245, 160, 0);
	color: white;
	border: none;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CONTENT IN THE HOMEPAGE END~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FOOTER SECTION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer {
	width: 100%;
	height: 50px;
	background: rgb(0,0,0);
	color: white;
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}

.footerText{
	margin-top: 5px;
	margin-left: 10px;
	font-size: calc(.8vw + 10px);
}

.footIcons{	
	padding-right: 10px;
	display: flex;
	justify-content: flex-end;
}

.footIcons img{
	width: calc(1vw + 15px);
	margin: 2px;
	transition: transform .3s;
}

.footIcons img:hover{
	transform: rotate(360deg) scale(1.2);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MEDIA QUERIES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FOR RESPONSIVE DESIGN~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@media screen and (max-width: 650px) {
    .homebody {
    	margin-top: 70px;
    	overflow: scroll;
    }



    .hamburger{
		top: 10px;
		left: 10px;
	}

    .line1, .line2, .line3{
		width: calc(20px + 1vw);
	}

    #Vid{
    	width: 200%;
    }


/* NAVMENU IN MOBILE DEVICES */

	.nav {
		transition: width .1s;
	}

	.navmenuul {
		display: none;
	}


.navmenumobile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 50px;
	text-align: center;
	overflow: hidden;
	}

.navmenumobile a {
	color: white;
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
}

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF HOMEPAGE CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/