*{
	margin: 0;
	padding: 0;
	
}
body{
	background: rgb(0,0,0);
	overflow: hidden;
}



/* HAMBURGER NAV ICON*/

.hamburger{
		cursor: pointer;
		display: inline-block;
		position: fixed;
		top: 20px;
		right: 20px;
		z-index: 100;
	}

	.line1, .line2, .line3{
		width: 30px;
    	height: 4px;
		background: white;
		margin-top: 3px;
		transition:transform .3s;
		box-shadow: 1px 1px 10px;
	}

	.change .line1{
		transform: translate(-3px, 10px) rotate(45deg);
		

	}

	.change .line2{
		opacity: 0;

	}

	.change .line3{
		transform: translate(-3px, -4px) rotate(-45deg) ;
	}

/*END OF HAMBURGER NAV ICON*/



.nav {
	width: 0px;
	height: 700px;
	position: fixed;
	right: 0;
	top: 0;
	transition: width 1s, background 1s;
	border-left: 3px inset rgba(200, 200, 100, 0.7);
	box-shadow: 10px 10px 100px 10px;
	margin-right: -5px;
	background: linear-gradient(to bottom right, purple, blue, lightblue);
}


	.navmenuul {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		list-style: none;
		justify-content: center;
		transition: visibility .3s;	

	}


	.navmenuul a{
		color:white;
		text-decoration: none;
		text-align: center;
		padding: 10px;
		padding-top: calc(2vw + 5px);
		padding-bottom: calc(2vw + 5px);
		font-size:(1vw + 5px);
		transition: color 1s;

	}
	.navmenuul a:hover{
		color: rgb(240, 200, 100);
	}


#Vid{
	width: 100%;
	filter: brightness(50%);
	position: fixed;
	z-index: -100;
	top: 0;
}



#mobileBackground{
	display: none;
	filter: brightness(50%);
	position: fixed;
	z-index: -100;
	top: 0;
	width: 200%;

}


.homeheading {
	text-align: center;
	font-size: calc(6vw + 8px);
	color: white;
	margin-top: 10%;
	user-select: none;

}

.hometext {
	text-align: center;
	font-size: calc(1.5vw + 7px);
	color: white;
	margin-left:50px;
	margin-right: 50px;
}


.CVButton {

	margin: auto;
	margin-top: 10%;
	width: auto;
	text-align: center;
	font-size: calc(1.5vw + 5px);
}

.CVButton > a {
	color: white;
	text-decoration: none;
	background: rgb(250, 130, 0);
	padding-right: 20px;
	padding-left: 20px;
	padding-top: calc(1vw + 5px);
	padding-bottom: calc(1vw + 5px);
	border-radius: 3px;
	transition: background .5s;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}



.CVButton > a:hover {
	background: rgba(205, 100, 0);
}

@media screen and (max-width: 650px) {
    body {
    	margin-top: 70px;
    	overflow: scroll;
    }



    .hamburger{
		top: 10px;
		right: 10px;
	}

    .line1, .line2, .line3{
		width: calc(20px + 1vw);
	}

    #Vid{
    	display: none;
    }

    #mobileBackground{
    	display: inline;
    }


}