
/********************************************************************************************************************/

/*-----------------------------CV SECTION STARTS HERE------------------------------------------------------------*/

/********************************************************************************************************************/
.CVBody{
	overflow-x: hidden;
}

.CVSection {
	background: rgba(250, 250, 235, 0.2);
}

.CVRow {
	width: 100%;
	display: flex;
}

.CVBlock {
	height: 100vh;
	text-align: center;
}

.CVBlockImage{
	width: 45%;
}

.CVBlockText{
	width: 55%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~THE IMAGE BLOCKS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.CVBlockImage {
	background: linear-gradient(to bottom left, seagreen, rosybrown, saddlebrown);
	background-size: 4000% 4000%;
	animation: CVGradientAnimation 8s ease infinite;
}

.CVBlockImage:nth-child(2){
	background: linear-gradient(to bottom left, springgreen, purple);
	background-size: 4000% 4000%;
}


@keyframes CVGradientAnimation {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 50% 100% }
}

.CVImages{
	border: 10px solid rgba(255,255,255,0.3);
	width: 85%;
	margin-top: 20vh;
	transition: transform .7s, box-shadow .7s ease-out;
	box-shadow: 5px 5px 30px;
}


.CVImagesLeft{
	transform: translateX(100px);
}

.CVImagesRight{
	transform: translateX(-100px);
}

.CVRow:hover .CVImagesLeft{
	transform: translateX(100px) scale(1.13);
	box-shadow: 15px 15px 80px;
}


.CVRow:hover .CVImagesRight{
	transform: translateX(-100px) scale(1.1);
	box-shadow: 15px 15px 80px;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~THE TEXT BLOCKS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.CVBlockTextRight{
	text-align: right;
}

.CVBlockTextLeft{
	text-align: left;
}

.CVHeading{
	text-align: center;
	color: rgb(50,180,235);
	margin-top: 40px;
	font-family: 'Black Han Sans', sans-serif;
	font-size: calc(1.5vw + 25px);
	margin-bottom: 15px;

}



.CVText{
	font-family: 'ABeeZee', sans-serif;
	font-size: calc(.5vw + 10px);
}


.CVTextContentRight{
	width: 70%;
	padding-left: 80px;
	margin: auto;
}

.CVTextContentLeft{
	width: 70%;
	padding-right: 80px;
	margin: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~THE SKILLS AND SKILL BAR~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.skillBar{
  margin: auto;
  width: 98%;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom:5px;
}

.skill{
  text-align: right;
  padding-right: 20px;
  line-height: 50px;
  color: white;
  border-radius: 10px;
  background: rgb(50,180,235);
  transition: width 1s, padding 1s ease-out;
}

.skillSLC{
	width: 81%;
	overflow: hidden;
}

.skillBarSkillSection{
	width: 80%;
	margin-left: 5px;
}



.skillHTML, .skillCSS, .skillJavaScript, .skillPhotoshop{
	width: 0%;
	padding-right: 0;
	overflow: hidden;
}


.CVRow:hover .skillHTML{
	width: 92%;
	padding-right: 20px;
}

.CVRow:hover .skillCSS{
	width: 85%;
	padding-right: 20px;
}

.CVRow:hover .skillJavaScript{
	width: 60%;
	padding-right: 20px;
}

.CVRow:hover .skillPhotoshop{
	width: 70%;
	padding-right: 20px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~THE BLOCKS SEPARATOR~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.CVSeparator {
	width: 100%;
	height: 150px;
	margin:auto;
	border-top: 5px solid rgba(0,0,0,0.7);
	border-bottom: 5px solid rgba(0,0,0,0.8);
	
}


.CVSeparatorOne{
	background:	url('teacher.jpg');
	background-attachment: fixed;
	background-position:center;
	
}

.CVSeparatorTwo{
	background: url('macbookondesk.jpg');
	background-attachment: fixed;
	background-position: top;
}


.CVSeparatorThree{
	background: url('javascript.jpg');
	background-attachment: fixed;
	background-position: bottom;
}


.CVSeparatorOverlay{
	background: rgba(0, 0, 0,0.5);
	height: 100%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CHROME SCROLLBAR~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-track {
    background: bisque; 
}

::-webkit-scrollbar-thumb {
    background: lightslategrey; 

}

::-webkit-scrollbar-thumb:hover {
    background: darkslategrey; 
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MEDIA QUERIES FOR CV~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@media screen and (max-width: 750px) {

	.CVRow{flex-direction: column;}

	.CVSeparator {display: none;}

	.CVBlock{width: 100%; height: 106vh;}

	.CVBlockImage{order: 1; height: 70vh;}

	.CVBlockText{order: 2;}

	.CVImages{max-width: 350px; margin-top: 13vh;}

	.CVImagesLeft{transform: none;}

	.CVImagesRight{transform: none;}

	.CVRow:hover .CVImagesLeft, .CVImagesLeft:hover {
		transform: none;
	}

	.CVRow:hover .CVImagesRight, .CVImagesRight:hover {
		transform: none;
	}

	.CVTextContentRight, .CVTextContentLeft{
		width: 98%;
		padding: 0px;
		margin: auto;
		text-align: center;
	}

	.skill {
		padding-right: 20px;
	}

	.skillBar{
		width: 90%;
	}

	.skillHTML{
		width: 92%;
	}

	 .skillCSS{
		width: 85%;
	}

	.skillJavaScript{
		width: 65%;
	}

	.skillPhotoshop{
		width: 70%;
	}

}

